@import '@styles/mixin.module.scss';
@import '@styles/variable.module.scss';

.container {
    padding: 30px 20px 0 20px;

    .title {
        font-size: 18px;
        text-align: center;
        margin-bottom: 30px;
        font-weight: 600;
    }

    .boxRememberMe {
        @include flex_box_custom(start, center, 0px);
        margin-bottom: 30px;

        input {
            margin-right: 10px;
        }

        span {
            font-size: 14px;
        }
    }

    .lostPw {
        text-align: center;
        margin-top: 20px;
        font-size: 14px;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}
